body {
    font-family: Arial, serif;
    --light-square: #f0d9b5;
    --dark-square: #b58863;
    --marker-square: #8e8e8e;
    --square-size: 4em;
}

header {
    text-align: center;
}

#chess-board {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.board-row {
    display: grid;
    grid-template-columns: repeat(9, var(--square-size));

}

.square, .marker-square {
    width: var(--square-size);
    height: var(--square-size);
    background-color: var(--light-square);
}

.marker-square {
    align-content: center;
    text-align: center;
    background-color: var(--marker-square); !important;
}

.board-row:nth-child(2n - 1) > .square:nth-child(2n - 1) {
    background-color: var(--dark-square);
}

.board-row:nth-child(2n) > .square:nth-child(2n) {
    background-color: var(--dark-square);
}

.chess-piece img {
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 2.7, 0.32, 1.28);
}

.chess-piece img:hover {
    cursor: grab;
    transform: scale(120%);
}

.active-chess-piece {
    filter: drop-shadow(2px 4px 6px black);
}
